# GitHub
GITHUB_TOKEN=

# Email (Resend)
RESEND_API_KEY=
CONTACT_EMAIL=mtatheer11@gmail.com

# Database (Vercel KV) - optional
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

# Analytics
NEXT_PUBLIC_ANALYTICS_ID=

# App
NEXT_PUBLIC_SITE_URL=https://muhammadtatheer.com
NEXT_PUBLIC_GITHUB_USERNAME=tatheer583
